<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liangge.indiana" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_indiana"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.HomeActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.test.BannerActivityTest"
            android:label="@string/title_activity_banner_activity_test"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity android:name=".ui.test.GridViewTest" >
        </activity>
        <activity
            android:name=".ui.test.PullRefreshActivity"
            android:hardwareAccelerated="false" >
        </activity>
        <activity android:name=".ui.test.SurfaceViewTestActivity" >
        </activity>
        <activity android:name=".ui.ProductDetailInfoActivity" >
        </activity>
        <activity android:name=".ui.test.VolleyTestActivity" >
        </activity>
        <activity android:name=".ui.user.LogSignInActivity" >
        </activity>
        <activity android:name=".ui.InventoryPayActivity" >
        </activity>
        <activity android:name=".ui.test.VolleyPostJsonActivityTest" >
        </activity>
        <activity
            android:name=".ui.WebViewActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/custom_schema" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.IndianaRecordActivity" >
        </activity>
        <activity android:name=".ui.user.BingoRecordActivity" >
        </activity>
        <activity android:name=".ui.user.UserInfoActivity" >
        </activity>
        <activity android:name=".ui.ImageViewActivity" >
        </activity>
        <activity android:name=".ui.Inner.IndianaCategoryActivity" >
        </activity>
        <activity android:name=".ui.Inner.CategoryListActivity" >
        </activity>
        <activity android:name=".ui.test.LayoutActivityTest" >
        </activity>
        <activity android:name=".ui.user.LogInActivity" >
        </activity>
        <activity android:name=".ui.user.SignInActivity" >
        </activity>
        <activity android:name=".ui.user.EditUserInfoActivity" >
        </activity>
        <activity android:name=".ui.test.PortraitTestActivity" >
        </activity>
        <activity android:name=".ui.Inner.HistoryRunRecordActivity" >
        </activity>
        <activity android:name=".ui.Inner.SearchActivity" >
        </activity>
        <activity android:name=".ui.user.SettingActivity" >
        </activity>
        <activity android:name=".ui.user.UserCenterActivity" >
        </activity>
        <activity android:name=".ui.AddShareActivity" >
        </activity>
        <activity android:name=".ui.ShareOrderDetailActivity" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.test.ShareTestActivity" >

        </activity>
        <activity android:name=".ui.test.ScrollListViewActivity" >

        </activity>

        <activity android:name=".ui.test.SrollViewTestActivity">

        </activity>

    </application>

</manifest>
